<div class="wrapper">

  <h2>Вас приветсвует приложение о фильмах</h2>
  <br>

  <mat-tab-group dynamicHeight="true">
    <mat-tab label="About Us">
      <h2>About Us 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iure repellendus? Pariatur nesciu</p>
    </mat-tab>
    <mat-tab label="Contact Us">
      <h3>Contact Us 2</h3>
      <p>e provident quod velit, assumenda modi, suscipit fuga, totam dicta nam quo atque reprehenderit doloremque. Libero,
        repudiandae exercitationem, aliquid, eligendi officia dicta sequi delectus nam illum soluta expedita. Excepturi dolorem
        animi accusantium inventore non officia ea cupiditate porro incidunt labore eos cum aut pariatur, cumque, eveniet
        ut odio, velit dolor nisi! Corporis iste minus quasi asperiores hic. R</p>
    </mat-tab>
  </mat-tab-group>
  
</div>
