<mat-card class="menu-card">
<mat-toolbar class="menu-toolbar">
    <mat-toolbar-row >
      <p><span><mat-icon>{{favCount ? 'star_rate' : 'stars'}}</mat-icon></span> {{favCount}} films</p>
      <span class="menu-spacing"></span>
      <div>
        <mat-form-field>
          <mat-select placeholder="Sort by" [(value)]="sortingMethod" (selectionChange)="transform()">
            <mat-option value="1">By name: A-Z</mat-option>
            <mat-option value="-1">By name: Z-A </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>
<mat-card>

<mat-grid-list cols="3" rowHeight="700px">
  <mat-grid-tile *ngFor="let film of films">
    <app-film-item [filmItem]='film' (add)="setFavFilms($event, film)"></app-film-item>
  </mat-grid-tile>
</mat-grid-list>
</mat-card>
