app-film-item {
  width: calc(100% - 70px);
  height: calc(90% - 70px);
  color: #000000;
}

.menu-toolbar {
  background-color: white;
}

.menu-spacing {
  flex: 1 1 auto;
}

p {
  display: flex;
  flex-direction: column;
}

mat-icon {
  color: #d0a117;
}

form {
  margin-right: 5%;
}

.search {
  margin-right: 5%;
}

.search .mat-form-field-infix {
  margin-right: 15%;
}

.no-matches span {
  color: #d0a117;
}

.no-matches img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.pagination button {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button-group {
  display: flex;
  align-items: center;
}
